* {
    font-family: 'Ubuntu Mono', monospace;
}
.form-style {
    display:flex; position:relative;
    width:var(--width); height:var(--height);
    left:calc(50% - var(--width) / 2); top:calc(50% - var(--height) / 2);
    margin:0px; padding:0px;
    flex-direction:var(--direction);
    border:none; border-radius:10px;
    transform-style:preserve-3d;
    background-color:rgb(73, 63, 63);
}
.form-style::after {
    position:absolute;
    content:"";
    transform:translateZ(-1px);
    inset: -0.625em;
    background-image:linear-gradient(var(--deg), red, rgb(176, 44, 233), blue);
    filter:blur(10px);
}
.item1 {
    height:var(--item1-height); width:var(--item1-width);
    padding:2%; margin:0px;
    display:flex; flex-direction:column;
    background-color:transparent;
    align-items:center;
    justify-content:space-around;
}
.item1 > div {
    display:block;
    height:10%;
}
.item1-sub1, .item1-sub2, .item1-sub3 {
    width:50%;
}
.item1-sub4 {
    width:25%;
}
.page-change {
    all:unset;
    display:flex; align-items:center; justify-content:center;
    width:100%;
    background-color:white;
    color:black;
    border:none;
    font-size:var(--font-size);
    border-radius:2px;
}
.page-change:hover {
    background-color:grey;
}
.page-change:active {
    background-color:black;
    color:white;
}
.item2 {
    display:block;
    width:var(--item2-width); height:var(--item2-height);
    padding:0px; margin:0px;
    background-color:transparent;
    border-radius:0px 10px 10px 0px;
}
.item2:hover {
    border:1px solid white;
}
