* {
    font-family: 'Ubuntu Mono', monospace;
}
.text-input-group {
    display:block; position:relative;
    width:var(--width); height:var(--height);
    top:var(--top); left:var(--left);
    margin:0px; padding:0px;
    border:none;
}
.text-input-group:hover {
    border:1px solid rgb(23, 125, 241);
}
.text-input-group > input {
    outline:none;
    display:block; position:relative;
    width:100%; height:100%;
    font-size:var(--font-size);
    background-color:white;
    color:rgb(122, 247, 64);
    text-align:center;
    margin:0px; padding:0px;
}
.text-input-group > label {
    position:absolute;
    width:100%;
    top:calc(50% - var(--font-size));
    background-color:transparent;
    text-align:center; color:navy;
    font-size:var(--font-size);
    transition:top 500ms ease 0ms, font-size 500ms ease 0ms;
}
.text-input-group > input:focus + label, .text-input-group > input:not(:placeholder-shown) + label {
    top:calc(0% - var(--font-size));
    font-size:calc(var(--font-size) - 2px);
}
.password-input-group {
    display:flex; position:relative;
    width:calc(var(--width) + var(--height)); height:var(--height);
    top:var(--top); left:var(--left);
    margin:0px; padding:0px;
    border:none;
}
.password-input-group > input {
    outline:none;
    display:block;
    width:var(--width); height:100%;
    font-size:var(--font-size);
    background-color:white;
    text-align:center;
    margin:0px; padding:0px;
    color:rgb(122, 247, 64);
}
.password-input-group > label {
    position:absolute;
    width:var(--width);
    top:calc(50% - var(--font-size));
    background-color:transparent;
    text-align:center; color:navy;
    font-size:fit-content;  /*var(--font-size);*/
    transition:top 500ms ease 0ms, font-size 500ms ease 0ms;
}
.password-input-group > input:focus + label, .password-input-group > input:not(:placeholder-shown) + label {
    top:calc(0% - var(--font-size));
    font-size:calc(var(--font-size) - 2px);
}
.password-input-group > button {
    all:unset;
    height:var(--height);
    aspect-ratio:1;
    background-color:transparent;
}
.submit-button {
    top:var(--top); left:var(--left);
    width:var(--width); height:var(--height);
    display:block;
    border:none; outline:none;
    border-radius:9999px;
    color:navy;
    background-color:white;
    font-size:var(--font-size);
}
.submit-button:hover {
    background-color:rgb(212, 209, 209);
}
.sumbit-button:active {
    color:white;
    background-color:navy;
}
.drag-drop-click-file {
    display:flex;
    margin:0px; padding:0px;
    width:var(--width); height:var(--height);
    font-size:var(--font-size);
    top:var(--top); left:var(--left);
    background-color:transparent;
    align-items:center; justify-content:center;
}
.drag-drop-click-file:hover {
    border:1px solid white;
}
.drag-drop-click-file > p {
    font-weight:bold;
    color:rgb(34, 245, 199);
    text-align:center;
    line-height:50%;
}
