:root {
    --custom-font-family:'Ubuntu Mono', monospace;
}
@media (max-width: 600px) {
    :root {
        --font-size:clamp(0.875rem, 2vw, 1rem);
    }
}
@media (min-width: 600px) {
    :root {
        --font-size:clamp(1rem, 2vw, 1.5rem);
    }
}
* {
    box-sizing:border-box;
}
body {
    width:100vw;
    height:100vh;
    background-color:transparent;
    margin:0px; padding:0px;
    overflow:hidden;
}
#root {
    width:100%; height:100%;
    margin:0px; padding:0px;
}